
<div id="content" class="container">
	<div class="bloc_popup row">
		<div class="block_left2 col-xs-12 col-sm-12  col-md-6 col-lg-6">
			<div class="switch">	
				<button class="btn switch_first2" onclick="hideI();">Je me connecte</button>
				<button class="btn switch_second2" onclick="hideI();"><i class="fa fa-arrow-right" style="font-size:24px"></i></button>	
			</div>
		</div>
		<div class="block_right col-xs-12 col-sm-12  col-md-6 col-lg-6">
			<div id="inscription">
				<h3> Rejoindre hedee </h3>
				{{ form_widget(form1.client.email, {'attr' : {'placeholder' : 'Votre adresse mail'}, 'id': 'email'}) }}

				{{ form_widget(form1.client.plainPassword.first, {'attr' : {'placeholder' : 'Votre mot de passe'}, 'id': 'password1'}) }}
				<div id="pswd2" class="pswd2">
                    {{ form_widget(form1.client.plainPassword.second, {'attr' : {'placeholder' : 'Confirmez votre mot de passe'},'id': 'password2'}) }} 
                </div>

				<button class="orange_button replace_btn">Je crée mon compte</button>
			</div>
		</div>
	</div>
</div>
        <script>       
            function hideI(){
                radiobtn = document.getElementById("membre");
                radiobtn.checked = true;
                changeM();
				redirect()
            }    
        </script>