
                            <div class="birth_date">
                                {{ form_label(form1.client.dateNaissance) }}
                                <br>
                                {{ form_errors(form1.client.dateNaissance) }}
                                {{ form_widget(form1.client.dateNaissance, {'id': 'birth'}) }} 
                            </div>