

div#colonne1 {
	float: left;
	width: 33%;
}

div#colonne2 {
	float: right;
	width: 33%;

}

.filtre{
	margin-right: 1%;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: black;
}

button.active{
	background-color: #ccc;
}

.modif{
  display: none;
}

.modif_link{
  color:blue;
}

.modif_link:hover { 
  text-decoration: underline;
}

.jumbotron{
  text-align: center;
}

#mes-demandes > tr td::nth-child(1n) { width:25%;}

#mes-infos > tr td:first-child { width: 33%;}
#mes-infos > tr td:last-child { width: 33%;}