:root {
	--orange_perso: #ff3c00;
    --bleu_perso: #2800dc;
    --bleu-pale: #e1def9;
}

body {
	font-family: 'Work Sans', sans-serif;
}

main{
	color: var(--bleu_perso);
}

a{
	color: var(--bleu_perso);
}

a:hover{
	text-decoration: none;
	color: var(--bleu_perso);
}

h3{
	text-align: center;
}

.nav-tabs {
	border: 1px solid var(--bleu-pale);
	box-shadow: 8px 8px 0px var(--bleu-pale);
	margin-bottom: 40px;
}

.nav-tabs li{
	padding: 10px;
	border-right: 1px solid var(--bleu-pale);
}

.nav-tabs li:hover{
	background-color: var(--bleu-pale);
}

.tab-content{
	border: 1px solid var(--bleu-pale);
}

label{
	display: block;
}

input{
	background-color: var(--orange-pale);
}

.filtre{
	margin-right: 1%;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: black;
}

li.active{
	background-color: var(--bleu-pale);
}

.modif{
  display: none;
}

.modif_link{
  color:blue;
}

.modif_link:hover { 
  text-decoration: underline;
}

.jumbotron{
  text-align: center;
}

textarea{
	background-color: var(--orange-pale);
	width: 100%;
	margin: auto;
}

.col{
	margin: auto;
}

#mes-demandes > tr td::nth-child(1n) { width:25%;}

#mes-infos > tr td:first-child { width: 33%;}
#mes-infos > tr td:last-child { width: 33%;}