.bloc_header {
    height: 198px;
}
.bloc_header_pre{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--orange-pale);
    height: 51px;
}

.bloc_header, .bloc_header_pre{
    text-align: center;
    display: table;
}

.bloc_header > h1, .bloc_header_pre > div{
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -1.5px;
}

.bloc_header_pre > div {
    color: var(--orange_perso);
    font-weight: bold;
    font-family: "WorkSans";
    line-height: 1.71;
    letter-spacing: 0.35px;
}

.bloc_header_pre > div a:link, .bloc_header > div a:visited{
    color: var(--orange_perso);  
}

.header_title {
    text-align: center;
    color: var(--orange_perso);
    font-weight: 600;
    font-family: "WorkSans";
    font-size: 60px;
}

.compte_button, .demande_button{
    border-style: none;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 5%;
    vertical-align: middle;
    /* centrage horizontal */
    
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 1.4px;
    text-align: center;
    width: 85%;
    height: 80px;
}

.demande_button{
    background-color: var(--orange_perso);
    color: #fff;
    
}

.compte_button{
    background-color:#fff;
    color: var(--bleu_perso);
}

.orange_button{
    display: block;
    text-align: center;
    padding: 12.5px;
    background-color: var(--orange_perso);
    color: #fff;
    border-style: none;
    border-radius: 40px;
}

.blue_button{
    display: block;
    text-align: center;
    padding: 12.5px;
    background-color: var(--bleu_perso);
    color: #fff;
    border-style: none;
    border-radius: 40px;
}

.whiteo_button{
    display: block;
    text-align: center;
    padding: 12.5px;
    color: var(--orange_perso);
    background-color: #fff;
    border: solid 1px var(--orange-pale);
    border-radius: 40px;
}