


/* 1er BLOC - vérifier votre éligibilité*/
.bloc1 {
    background-image: url("../img/parcours_decouverte/pourquoi/Groupe\ 363.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    height: 45px;
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top: 40px
    /*display:flex;
    flex-wrap:wrap; */
}

.bloc1 > p {
    text-align:center;
    color:#ff3c00;
    padding-top:6px;
    margin:0 auto;
}

.bloc1 > p > a {
    color:#ff3c00;
    text-decoration: none;
    margin:0 auto;
}

/* 1 bis BLOC - etapes pour demande de remboursement */
.bloc1bis {
    background-image: url("../img/parcours_decouverte/pourquoi/bloc1bis_1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    height: 490px;
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.title1 > h2 {
    padding-top : 70px;
    color: rgb(247, 242, 242)
}

.garantie_prix_bas {
    padding-top : 70px;
}

.title3, .title4  {
    padding-top : 130px;
}

.title4 > h1, .title3 > h1, .title2 > h1, .title1 > p {
    color: var(--white);
    text-align:center;
    margin: auto; 
    width: 70%
} 

.title4, .title3, .title2 > h1, .title1 > h2 {
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}



/* 2e BLOC - etapes pour demande de remboursement */
.bloc2 {
    background-image: url("../img/parcours_decouverte/pourquoi/bloc2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    height: 490px;
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}



/* 4e BLOC - Enseignes éligibles */
.bloc3 {
    background-image: url("../img/parcours_decouverte/pourquoi/bloc3.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    height: 490px;
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bloc4 {
    background-image: url("../img/parcours_decouverte/pourquoi/bloc4.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    height: 490px;
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bloc4bis {
    background-image: url("../img/parcours_decouverte/pourquoi/bloc4bis.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    height: 550px;
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.title4 {
    font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}


/* 5e BLOC - Qui sommes nous ? */
.bloc5 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    height: 681px;
    max-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.bloc6 {
    background-image: url("../img/parcours_decouverte/pourquoi/groupe290.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ;
    height: 600px;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
