:root {
    --orange_perso: #ff3c00;
    --orange-pale: #ffd5d2;
    --bleu_perso: #2800dc;
    --bleu-pale: #e1def9;
}

.exemple-wrapper{
    font-family: "Work Sans";
}

.bloc_header_pre {
    background: linear-gradient(0.25turn, #fff, var(--bleu-pale));
    width:100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--bleu-pale);
}

.bloc_header {
    background: linear-gradient(0.25turn, #fff, var(--bleu-pale));
    width:100%;
    height: 150px;
}

.bloc_header_pre > div {
    color: var(--bleu_perso);
    font-weight: bold;
    font-family: "Work Sans";
}

.bloc_header_pre > div a:link, .bloc_header_pre > div a:visited{
    color: var(--bleu_perso);  
}

.header_title {
    text-align: center;
    color: var(--bleu_perso);
    font-weight: bold;
    font-family: "Work Sans";
}
/* 1er BLOC - vérifier votre éligibilité*/

.bloc1 {
    background-color: white;
    color: var(--bleu_perso);
    min-height: 590px;
    max-width:100%;
    margin-top: 5%;
    margin-left: 22%;
    margin-right: 15%;
}

label {
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    
}

input, select{
    display: block;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid var(--bleu-pale);
    box-sizing: border-box;
    /*background-color: #CED8F6;*/
    color: var(--bleu_perso);
}

textarea{
    width: 100%;
    min-height: 220px;
    border: 1px solid var(--bleu-pale);
}

form button{
    margin: auto;
    font-size: 12px;
    font-family: "Work Sans";
    font-weight: 420;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.8px;
    padding: 20px !important;
}

/* 2e BLOC - etapes pour demande de remboursement */
.bloc2 {
    background-image: url("../img/parcours_decouverte/footer.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    min-height: 554px;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/* **************  POUR MOBILE  ********************* */
@media screen and (max-width:767.98px){
    .bloc1{
        margin-left: initial;
        margin-right: initial;
    }
}



