:root {
    --orange_perso: #ff3c00;
    --orange-pale: #ffd5d2;
    --bleu_perso: #2800dc;
    --bleu-pale: #e1def9;
}

.bloc_header_pre {
    background: linear-gradient(0.25turn, #fff, var(--orange-pale));
    width:100%;
}

.bloc_header_pre > div {
    color: var(--orange_perso);
    font-weight: bold;
    font-family: "Work Sans";
}

.bloc_header_pre > div a:link, .bloc_header_pre > div a:visited{
    color: var(--orange_perso);  
}


/* 1er BLOC - vérifier votre éligibilité*/
.bloc1 {
    background-image: url("../img/parcours_decouverte/pourquoi/Groupe\ 394.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    min-height: 681px;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*display:flex;
    flex-wrap:wrap; */
}


/* 2e BLOC - etapes pour demande de remboursement */
.bloc2 {
    background-image: url("../img/parcours_decouverte/pourquoi/Groupe\ 358.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    min-height: 681px;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}



/* 4e BLOC - Enseignes éligibles */
.bloc3 {
    background-image: url("../img/parcours_decouverte/pourquoi/Groupe\ 360.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    min-height: 681px;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bloc4 {
    background-image: url("../img/parcours_decouverte/pourquoi/Groupe\ 359.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    min-height: 1500px;
    width:100%;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/* 5e BLOC - Qui sommes nous ? */
.bloc5 {
    background-image: url("../img/parcours_decouverte/pourquoi/Groupe\ 364.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ; 
    min-height: 681px;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.bloc6 {
    background-image: url("../img/parcours_decouverte/pourquoi/Groupe\ 290.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    min-height: 1494px;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
