:root {
    --orange_perso: #ff3c00;
    --orange-pale: #ffd5d2;
    --bleu_perso: #2800dc;
    --bleu-pale: #e1def9;
}

/** RESET CSS **/
html, body, div, main  {
    margin:0;
    padding:0;
}

body {
    font-family: "Work Sans";
    color: var(--bleu_perso);
    width: 100%;
    
}

.bloc_header {
    background: linear-gradient(0.25turn, #fff, var(--bleu-pale));
    width:100%;
}

.header_title {
    color: var(--bleu_perso);
}

.form_elig, .les_infos{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.bloc_footer {
    background-image: url("../img/parcours_remboursement/Composant\ 2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ;
    height: 250px;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

label {
    margin-bottom: 5px;
    margin-top: 20px;
    display: block;
    
}

.input-group{
    flex-wrap: nowrap;
}

input#num{
    width: 100%;
}

input, select{
    display: block;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /*background-color: #CED8F6;*/
    color: var(--bleu_perso);
}

input[type=file]{
    border: none;
}

.input-group-prepend button{
    background-color: #CED8F6;
    border: 1px solid #ccc;
}

#soumettre {
    margin: 0 auto;
    background-color:var(--orange_perso);
    color: white; 
    box-sizing: border-box;
    margin-top: 13%;  
    padding: 16px 16px;
    text-align: center;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    transition: 1s;
    font-size: 14px;
    font-weight: 450;
    font-style: normal;
    font-stretch: normal;
  
}


ul[role=menu]{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    padding-inline-start: 0;
}

.mole  .row{
    text-align: center;
}

.mole label{
    display: initial;
}

.mole input{
    display: initial;
    width: initial;
    padding: 12px 20px;
    display: initial;

}

.affichage_msg{
    margin: auto;
    margin-right: 25%;
    margin-left: 25%;
}

.demander {
    display: flex;
    flex-wrap: wrap; /*Optionner - permet aux éléments de passer à la ligne en cas de besoin*/
    justify-content: center; /*Permet de centrer dans l'axe principal*/
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;     
}

#form_demande{
    min-height: 40%;
}


/* CSS SOUS MENU FORMULAIRE */
.current-info.audible {
    display:none
}
    
/*a > .fa{
    display: none;
}*/
.steps{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.steps ul li   {
    display:inline;
    list-style: none;
    padding-left: 10px;
    margin: 1px;
}

.steps ul li a {
    text-decoration: none;
    padding: 15px 10px 15px 26px !important;
}

/*page informations de commande - votre achat*/
.steps ul .first.current a {
    background-color: var(--bleu_perso);
    /*padding: 15px;*/
    color: #fff;
}

.steps ul .disabled a, .steps ul .done a {
    background-color: #fff;
    /*padding: 15px;*/
    color: var(--bleu_perso);
	-moz-box-shadow: 0 0 20px #e1def9;  
	-webkit-box-shadow: 0 0 20px #e1def9;  
    box-shadow: 0 0 20px #e1def9;  
}

.steps ul .disabled.last a {
    background-color: #fff;
    /*padding: 15px;*/
    color: var(--bleu_perso);;
    
}

#steps-uid-0-t-0, #steps-uid-0-t-1, #steps-uid-0-t-2, #steps-uid-0-t-3 {
    border:none;
}

textarea{
    height: 10%;
    width: 100%;
}

#demandes_magasin_facture {
    padding-bottom: 45px
}


.code_postal {
    padding-top: 40px
}


 .les_infos {
    position: relative;
    padding-top : 30px;
    padding-bottom: 40px;
    background-color: transparent;
}

.les_infos > section {
    margin-left:40px
}

.les_infos h3 {
    margin: 30px 40px 15px 40px;
}

.marque_2,.reference_2, .numero_commande_2, .commentaires_2, .prix_article_2 {
    display:flex
}

.label_2 {
    margin-right: 6px
}

.question_2 .btn  {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border:none;
    font-family: "Work Sans"; 
}

.etoile {
    color: #ff3c00 ;
}


/* Title inutiles */
.help-text {
    display:none;
}

#steps-uid-0-h-0.title, #steps-uid-0-h-1.title, #steps-uid-0-h-2.title {
    display:none
}

.actions{
    margin-top: 10%;
}

.actions ul{
    position: relative;
    
}

.actions ul li {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display:inline;
    list-style: none;
    text-align: center;

}

li[aria-selected=false]{
    color: #fff;
}

#menuprevious{
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    padding: 12px 20px;
    color: var(--orange_perso);
    border-radius: 24px;
    border-style: solid;
    border-width: 0.03em;
    border-color: var(--orange_perso);
    width: 125px;
    display: table-cell;
    overflow: hidden;
}

#menunext, #menufinish{
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--orange_perso);
    padding: 12px 20px;
    color: #fff;
    border-radius: 24px;
    width: 125px;
    display: table-cell;
    vertical-align: middle; 
    overflow: hidden;
}

/*page informations client - vos coordonnées*/
.steps ul .first.done a {
    background-color: #fff;
    padding: 15px;
    color: lightgrey;

}

.steps ul .current a {
    background-color: var(--bleu_perso);
    padding: 15px;
    color: #fff;
}

.steps ul .current .fa {
    color: var(--bleu_perso);
}

.steps ul .disabled .fa {
    color: #fff;
}

.steps ul .last.done a {
    background-color: #fff;
    padding: 15px;
    color: lightgrey;
    border: solid 1px #ccc;
}

.info_client {
    padding-top : 45px
}

#prenom, #nom, #num, #demandes_client_adresse_nomRue, 
#demandes_client_adresse_ville, #cp_perso,
#recap_ens, #recap_cat, #recap_url, #recap_prix {
    background-color: #eeecfa;
    border:none
}

.input-group-text {
    color: #2800dc; 
    background-color: #E1DEF9;
    border: none
}

/*Page Valider*/
.steps ul .done a {
    background-color: #fff;
    padding: 15px;
    color: lightgrey;
    border: solid 1px #ccc;
}

.steps ul .last.current a {
    background-color: var(--bleu_perso);
    padding: 15px;
    color: #fff;
    border: solid 1px #ccc;
}

#facture_jpg {
    padding : 45px 0 45px 40px;
}


.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px; display: inline-block; height: 100%; text-align: center;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*Formulaire : boutons bas de page
.actions ul li a {}*/

/*************************** POPUP ***************************/
.bloc_popup{
    display: flex;
    margin: auto; 
}

.bloc_popup button{
    text-transform: uppercase;
    font-weight: 600;
}

.block_left1{
    margin-right: 0;
    margin-left: auto;
    position: relative;
    display: flex;
    color: var(--bleu_perso);
    box-shadow: 8px 8px 0px var(--bleu-pale);
    border-top: solid 2px var(--bleu-pale);
}

.block_left2{
    margin-right: 0;
    margin-left: auto;
    position: relative;
    display: flex;
    color: var(--orange_perso);
    box-shadow: 8px 8px 0px var(--orange-pale);
    border-top: solid 2px var(--orange-pale);
}

.switch{
    margin: auto;
}

.switch_first{
    padding: 12.5px;
    padding-right: 25px;
    position: relative;
    background-color: #fff;
    color: var(--bleu_perso);
    border-radius: 80px;
}

.switch_first2{
    padding: 12.5px;
    padding-right: 25px;
    position: relative;
    background-color: #fff;
    color: var(--orange_perso);
    border-radius: 80px;
}

.switch_second1{
    padding: 12.5px;
    position: relative;
    left: -28px;
    background-color: var(--orange_perso);
    border-radius: 80px;
    color: #fff;
    width: 55px;
}

.switch_second2{
    padding: 12.5px;
    position: relative;
    left: -20px;
    background-color: var(--bleu_perso);
    border-radius: 60px;
    color: #fff;
    width: 55px;
}

a:visited, a{
    color: var(--bleu_perso);
}


.block_right{
    display: flex;
    position: relative;
    background-color: #fff;
    margin-right: auto;
    margin-left: 0;
    min-height: 300px;
   
}

.block_left1 + .block_right{
    color: var(--bleu_perso);
    box-shadow: 8px 8px 0px var(--bleu-pale);
    border-top: solid 2px var(--bleu-pale);
    border-right: solid 2px var(--bleu-pale);
}

.block_left2 + .block_right{
    color: var(--orange_perso);
    box-shadow: 8px 8px 0px var(--orange-pale);
    border-top: solid 2px var(--orange-pale);
    border-right: solid 2px var(--orange-pale);
}

#connexion, #inscription{
    position: relative;
    margin: auto;
}

#connexion label, #inscription label{
    margin-bottom: 5px;
    margin-top: 2px;
    display: block;
    
}

#connexion input, #inscription input{
    border: solid 2px;
    border-color: var(--bleu-pale); 
    margin: 5.5% auto;
    margin-bottom: 0px;
    display: block;
    width: 100%;
} 

#connexion input{
    border-color: var(--bleu-pale);
}

#inscription input{
    border-color: var(--orange-pale);
}


#connexion ::placeholder, #inscription ::placeholder{
    text-align: center;
}

#inscription ::placeholder{
    color: var(--orange-pale);
}

#connexion a, #inscription a{
    float: right;
}

#connexion button, #inscription button{
    margin: auto;
    margin-top: 4.5%;
}

#connexion h3, #inscription h3{
    margin: initial;
    font-size: 18px
}



/**********PARTIE RESPONSIVE DESIGN***********/
            /***POUR MOBILE***/
@media screen and (max-width:767.98px){ 

    .form_elig, .les_infos{

        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .les_infos {
        display: table;
        color: var(--bleu_perso);
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        top: -65px;
    }

    .steps ul{
        display:block;
        width: 50%;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        box-sizing: content-box !important;
        padding-inline-start: 0px !important;
    }

    .steps ul li{
        display: none;
        width: 180px;
    }

    .steps ul li.current  {
        display: block
    }

    .number{
        font-size: 11px;
    }

    /************** POPUP *****************/
    
    .block_right{
        box-shadow: 8px -8px 0px var(--bleu-pale) !important;  
        order: -1;    
    }

    .block_left1 + .block_right{
        border-left: solid 2px var(--bleu-pale) !important;
    }

    .block_left2 + .block_right{
        border-left: solid 2px var(--orange-pale) !important;
    }	   

    .block_left1{
        height: 330px;
        background-image: url("../img/popup/Groupe191.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
        box-shadow: 8px -8px 0px var(--bleu-pale) !important;
    }
    
    .block_left2{
        background-image: url("../img/popup/Groupe191b.png");
        height: 330px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
        box-shadow: 8px -8px 0px var(-orange-pale) !important;
    }

    #connexion input, #inscription input{
        height: 30px;  
    }

}


            /***POUR TABLETTE***/
@media (min-width: 768px) and (max-width:1024.98px){ 
    
    .form_elig, .les_infos{
        width: 610px
    }

    .les_infos {
        display: table;
        color: var(--bleu_perso);
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        top: -80px;
    }

    .steps ul{
        display: block;
        width: 50%;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        box-sizing: initial !important;
    }

    .steps ul li{
        display: none;
    }

    .steps ul li.current  {
        display: block
    }

    /****************** POPUP ******************/

    .bloc_popup{
        width: 660px;
    }

    .block_left1{
        height: 300px;
        width: 300px;
        background-image: url("../img/popup/Groupe194.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }
    
    .block_left2{
        background-image: url("../img/popup/Groupe194b.png");
        height: 300px;
        width: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }

    .block_right{
        height: 300px;
        width: 300px;
    }

    #connexion input, #inscription input{
        height: 40px;  
    }

    #connexion ::placeholder, #inscription ::placeholder{
        font-size: 12px;
    }

}


            /***POUR GD ECRAN***/
@media screen and (min-width: 1025px){

    .form_elig, .les_infos{
        width: 720px
    }

    .bloc_popup{
        width: 960px;
    }

    .les_infos {
        display: table;
        color: var(--bleu_perso);
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        top: -120px;
    }

    .number{
        display: none;
    }

    /**************** POPUP ********************/
    .block_left1{
        height: 480px;
        width: 480px;
        background-image: url("../img/popup/Groupe193.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }
    
    .block_left2{
        background-image: url("../img/popup/Groupe193b.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
        height: 480px;
        width: 480px;
    }

    .block_right{
        height: 480px;
        width: 480px;
    }

    #connexion input, #inscription input{
        height: 40px;  
    }    

 } 
