:root {
    --orange_perso: #ff3c00;
    --orange-pale: #ffd5d2;
    --bleu_perso: #2800dc;
    --bleu-pale: #e1def9;
}

main{
    font-family: "Work Sans";
    /*background-color: var(--bleu-pale);*/
    display: flex;
    min-height: 500px;
}

.bloc_popup{
    display: flex;
    margin: auto;
    
}

.block_left1{
    margin-right: 0;
    margin-left: auto;
    position: relative;
    display: flex;
    color: var(--bleu_perso);
}

.block_left2{
    margin-right: 0;
    margin-left: auto;
    position: relative;
    display: flex;
    color: var(--orange_perso);
}

.switch{
    margin: auto;
}

.switch_first{
    padding: 12.5px;
    padding-right: 25px;
    position: relative;
    background-color: #fff;
    color: var(--bleu_perso);
    border-radius: 80px;
}

.switch_first2{
    padding: 12.5px;
    padding-right: 25px;
    position: relative;
    background-color: #fff;
    color: var(--orange_perso);
    border-radius: 80px;
}

.switch_second1{
    padding: 12.5px;
    position: relative;
    left: -28px;
    background-color: var(--orange_perso);
    border-radius: 80px;
    color: #fff;
}

.switch_second2{
    padding: 12.5px;
    position: relative;
    left: -20px;
    background-color: var(--bleu_perso);
    border-radius: 60px;
    color: #fff;
}

a:visited, a{
    color: var(--bleu_perso);
}


.block_right{
    display: flex;
    position: relative;
    background-color: #fff;
    margin-right: auto;
    margin-left: 0;
    min-height: 300px;
}

.block_left1 + .block_right{
    color: var(--bleu_perso);
}

.block_left2 + .block_right{
    color: var(--orange_perso);
}

.close{
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 48px;
    background-color: #fff;
    color: var(--bleu_perso);
    padding: 25px;
}

#connexion, #inscription{
    position: relative;
    margin: auto;
}

label {
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    
}

input{
    border: solid 2px;
    border-color: var(--bleu-pale); 
    margin: 7.5% auto;
    display: block;
} 

#connexion input{
    border-color: var(--bleu-pale);
}

#inscription input{
    border-color: var(--orange-pale);
}


::placeholder{
    text-align: center;
}

#inscription ::placeholder{
    color: var(--orange-pale);
}

#connexion a, #inscription a{
    float: right;
}

#connexion button, #inscription button{
    margin: auto;
    margin-top: 7.5%;
}

input{
    width: 100%;
}

/* **************  POUR MOBILE  ********************* */
@media screen and (max-width:767.98px){

    main{
        height: 700px;
    }

    .block_right{
        order: -1;
    }

    .block_left1{
        height: 350px;
        background-image: url("../img/popup/Groupe\ 194.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }
    
    .block_left2{
        background-image: url("../img/popup/Groupe\ 194b.png");
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }

    input{
        height: 30px;  
    }
    

}

/* **************  POUR TABLETTES  ********************* */
@media (min-width: 768px) and (max-width:991.98px){

    main{
        height: 500px;
    }

    .block_left1{
        height: 300px;
        width: 300px;
        background-image: url("../img/popup/Groupe\ 194.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }
    
    .block_left2{
        background-image: url("../img/popup/Groupe\ 194b.png");
        height: 300px;
        width: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }

    .block_right{
        height: 300px;
        width: 300px;
    }

    input{
        height: 40px;  
    }

    ::placeholder{
        font-size: 12px;
    }
}

/* **************  POUR GRANDS ECRANS  ********************* */
@media screen and (min-width: 992px){
    main{
        height: 600px;
    }

    .block_left1{
        height: 480px;
        width: 480px;
        background-image: url("../img/popup/Groupe\ 193.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }
    
    .block_left2{
        background-image: url("../img/popup/Groupe\ 193b.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
        height: 480px;
        width: 480px;
    }

    .block_right{
        height: 480px;
        width: 480px;
    }

    input{
        height: 60px;  
    }    

    #connexion, #inscription{
        width: 350px;
    }
}
