
.bloc_header {
    background-image: url("../img/parcours_decouverte/comment/Groupe\ 394.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 199px;
    width:100%;
}

/* 1er BLOC - vérifier votre éligibilité*/

.bloc1 {
    background-image: url("../img/parcours_decouverte/comment/Groupe\ 118.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 873px;
    max-width:100%;
    margin-top: 5%;
    margin-left: 22%;
    margin-right: 15%;
}


/* 2e BLOC - etapes pour demande de remboursement */
.bloc2 {
    background-image: url("../img/parcours_decouverte/comment/Groupe\ 139.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 447px;
    max-width:100%;
}



/* 4e BLOC - Enseignes éligibles */
.bloc3 {
    background-image: url("../img/parcours_decouverte/comment/Groupe\ 395.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 1855px;
    width:100%;
    margin-top: 5%;
}
