:root {
    --orange_perso: #ff3c00;
    --orange-pale: #ffd5d2;
    --bleu_perso: #2800dc;
    --bleu-pale: #e1def9;
}


html, body, div, header, main, .row, .container-fluid  {
    margin:0;
    padding:0;
}

body {
    font-family: 'Georgia', sans-serif;
    font-size: 14px;
    width: 100%;
    min-height:960px;
}

/* HEADER */
header {
    flex-wrap:wrap;
    min-height: 89px;
}

.header1 {
    display:flex;
    width: 100%;
}

.toggle {
    width: 20%;
    margin-top: 40px;
}

.togglemenu {
    display:block;
    width : 20%;
    height: 55px;
    margin-left:auto;
    margin-right:auto;
}

.hamburger{
    background:none;
    position: relative;
    top: 20px;
    right:0;
    line-height:15px;
    padding:5px 15px 0px 0px;
    color:#eb7150;
    border:0;
    font-size:2.8em;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}

.logo {
    width : 50%;
    min-height: 50px;
    text-align:center;
}

.logo a {
    text-decoration: none;
    font-family: sans-serif;
    color: #EB5B34;
}

.logo a > p  {
    font-size: 30px;
    width: 85%;
    min-height: 50px;
}

.recup_argent {
    width: 15%;
    margin:auto;
}

.menu {
    width : 75%;
    min-height: 50px;
    text-align:center;
    padding-top: 15px;
}

.menu ul li  {
    display:inline;
    margin-left: auto;
    margin-right:auto;
}

.menu ul li a {
    text-decoration: none;
    color : #000;
    font-size: 1em;
    font-weight: bold;
    margin-right: 5%
}

#myBtn {
    color: white;
    padding: 10px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    font-family: 'Georgia', sans-serif;
}

#myBtn a {
    color : #fff
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.menu2 {
    display:none;
}

.menu2 > ul {
    display:none;
}


.bloc_header {
    height: 198px;
}
.bloc_header_pre{
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--orange-pale);
    height: 51px;
}

.bloc_header, .bloc_header_pre{
    text-align: center;
    display: table;
}

.bloc_header > h1, .bloc_header_pre > div{
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -1.5px;
}

.bloc_header_pre > div {
    color: var(--orange_perso);
    font-weight: bold;
    font-family: "WorkSans";
    line-height: 1.71;
    letter-spacing: 0.35px;
}

.bloc_header_pre > div a:link, .bloc_header > div a:visited{
    color: var(--orange_perso);  
}

.header_title {
    text-align: center;
    color: var(--orange_perso);
    font-weight: 600;
    font-family: "WorkSans";
    font-size: 60px;
}

.compte_button, .demande_button{
    border-style: none;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 5%;
    vertical-align: middle;
    /* centrage horizontal */
    
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 1.4px;
    text-align: center;
    width: 85%;
    height: 80px;
}

.demande_button{
    background-color: var(--orange_perso);
    color: #fff;
    
}

.compte_button{
    background-color:#fff;
    color: var(--bleu_perso);
}

.orange_button{
    display: block;
    text-align: center;
    padding: 12.5px;
    background-color: var(--orange_perso);
    color: #fff;
    border-style: none;
    border-radius: 40px;
}

.blue_button{
    display: block;
    text-align: center;
    padding: 12.5px;
    background-color: var(--bleu_perso);
    color: #fff;
    border-style: none;
    border-radius: 40px;
}

.whiteo_button{
    display: block;
    text-align: center;
    padding: 12.5px;
    color: var(--orange_perso);
    background-color: #fff;
    border: solid 1px var(--orange-pale);
    border-radius: 40px;
}


/* MAIN */
main {
    min-height: 960px;
}

.title_qui {
    text-align:center;
}

.qui_sommes_nous {
    width: 60%;
    margin:0 auto
}

.la_presentation {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}   

.presentation {
    width: 40%;
    min-height: 450px;
    margin: 25px auto;
}

.box {
    width: 40%;
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 470px;
    border-radius : 2%;
    margin: 25px auto;
	-moz-box-shadow: 0 0 10px #555;  
	-webkit-box-shadow: 0 0 10px #555;  
    box-shadow: 0 0 10px #555;  
}

#paragraph_id1, #paragraph_id2, #paragraph_id3, #paragraph_id4 {
    width:80%;
    font-size: small;
    margin-left:auto;
    margin-right:auto;
    height:30px;
    color:red;
	display: none;
}

.categorie, .choisir_enseigne, .date_achat, .prix_article, .mag_internet,.remise {
    margin-left: auto;
    margin-right: auto;
} 

.box #form_prix, .box #datepicker, .box #select_enseigne, .box #cat_produit, .box #remise {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 10px; 
    resize: vertical;
}

.categorie_2, .choisir_enseigne_2, .date_achat_2, .prix_article_2 {
    display:flex
}

.label_2 {
    margin-right: 6px
}

.question_2 .btn  {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border:none;
    font-family: 'Georgia', sans-serif; 
}

.box #mag_internet {
    width: 20%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}


.msg {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}



.msg {
    width: 40%;
    height: 40px;
    color: green;
    text-align:center
}


.title_avis_clients {
    text-align:center;
    width: 100%;
}

/* FOOTER - reseaux sociaux + infos site*/



.reseaux_sociaux {
    margin-left: auto;
    margin-right:auto;
    display:flex;
}

.reseaux_sociaux > div {
    margin: auto;
    color : #fff
}

.reseaux_sociaux .fb :hover {
    transition: 1s;
    fill: #0000CD;
    opacity: 1;
}

.reseaux_sociaux .insta :hover {
    transition: 1s;
    fill: #DC143C;
    opacity: 1;
}

.reseaux_sociaux .twitter :hover {
    transition: 1s;
    fill: #14addc;
    opacity: 1;
}

.infos_site {
    width: 100%;
}

.infos_site > p  {
    margin-top: 20px;
    font-size : 14px;
    color: #fff;
}

.infos_site > p > a {
    color : #fff;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
}

.infos_site > p :hover {
    text-decoration: underline;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.menu_profil {
    width : 75%;
    min-height: 30px;
    margin: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.menu_profil ul li  {
    display:inline-block;
    margin-top: 5px;
    margin-left: auto;
    margin-right:auto;
}

.menu_profil ul li a {
    text-decoration:underline;
    color : #000;
    font-size: 1em;
    font-weight: bold;
    margin-right: 5%
}

.menu_profil ul li a.active {
    pointer-events: none;
    cursor: default;
    color: blue;
  }



.share > div {
    margin: auto;
    color : #3d3d3d99
}

label.error{
    font-size: small;
    color:red;
    margin-bottom: 20px;
}

input.error{
    border-color:red;
    border-width: 2px;
    border-radius: 2px;
    background-color: #F08080;
    
}

.inline{
    display: inline
}

.fixed_top{
    margin: auto;
    position: fixed;
    top: 20;
}

.fbar-toggle {
    z-index:3;
}

.navbar{
    background-color: white;
}

.container{
    margin: auto;
    max-width: 1200px;
}

/* **************  POUR MOBILE  ********************* */
@media screen and (max-width:767.98px){

}

/* **************  POUR TABLETTES  ********************* */
@media (min-width: 768px) and (max-width:991.98px){

    .compte_button, .demande_button{
        height: 50px;
        font-size: 10px;
    }
}

/* **************  POUR GRANDS ECRANS  ********************* */
@media screen and (min-width: 1025px){

}

