:root {
    --orange_perso: #ff3c00;
    --bleu_perso: #2800dc; 
}


/** RESET CSS **/
html, body, div, main  {
    margin:0;
    padding:0;
}

body {
    font-family: 'Georgia', sans-serif;
    color: var(--bleu_perso);
    width: 100%;
    min-height:960px;
}

.bloc_header {
    background-image: url("../img/parcours_remboursement/Rectangle\ 25.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.header_title {
    color: var(--bleu_perso);
}

.form_elig, .les_infos{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.bloc_footer {
    background-image: url("../img/parcours_remboursement/Composant\ 2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ;
    height: 250px;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

label {
    margin-bottom: 5px;
    margin-top: 20px;
    display: block;
    
}

.input-group{
    flex-wrap: nowrap;
}

input#num{
    width: auto;
}

input, select{
    display: block;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /*background-color: #CED8F6;*/
    color: var(--bleu_perso);
}

input[type=file]{
    border: none;
}

.input-group-prepend button{
    background-color: #CED8F6;
    border: 1px solid #ccc;
}

#soumettre {
    margin: 0 auto;
    background-color:var(--orange_perso);
    color: white; 
    box-sizing: border-box;
    margin-top: 5%;  
    width: 100%;
    padding: 12px 16px;
    text-align: center;
    font-size: 80%;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    transition: 1s;
}

ul[role=menu]{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    padding-inline-start: 0;
}

.mole  .row{
    text-align: center;
}

.mole label{
    display: initial;
}

.mole input{
    display: initial;
    width: initial;
    padding: 12px 20px;
    display: initial;

}


.affichage_msg{
    margin: auto;
    margin-right: 25%;
    margin-left: 25%;
}

.demander {
    display: flex;
    flex-wrap: wrap; /*Optionner - permet aux éléments de passer à la ligne en cas de besoin*/
    justify-content: center; /*Permet de centrer dans l'axe principal*/
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;     
}

#form_demande{
    min-height: 40%;
}

#connexion{
    position: relative;
    background-image: url("../img/parcours_remboursement/Groupe\ 394.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    min-height: 444px;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#inscription{
    position: relative;
    background-image: url("../img/parcours_remboursement/Groupe\ 399.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    min-height: 444px;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hedee_rc{
    position: absolute;
    right: 50px;
    top: 25%;
    max-width: 50%;
}

.hideC{
    border-radius: 24px;
    background-image: url("../img/parcours_remboursement/Groupe\ 229.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    min-height: 40px;
    min-width: 177px;
    margin-top: 30%;
    margin-left: 10%;
}

.hideI{
    border-radius: 24px;
    background-image: url("../img/parcours_remboursement/Groupe\ 228.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    min-height: 40px;
    min-width: 177px;
    margin-top: 30%;
    margin-left: 10%;
}

/* CSS SOUS MENU FORMULAIRE */
.current-info.audible {
    display:none
}
    
a > .fa{
    display: none;
}

.steps ul li   {
    display:inline;
    list-style: none;
    padding-left: 10px;
}

.steps ul li a {
    text-decoration: none;
}

/*page informations de commande - votre achat*/
.steps ul .first.current a {
    background-color: var(--bleu_perso);
    padding: 15px;
    color: #fff;
}

.steps ul .disabled a, .steps ul .done a {
    background-color: #fff;
    padding: 15px;
    color: black;
    border: solid 1px #ccc;
}

.steps ul .disabled.last a {
    background-color: #fff;
    padding: 15px;
    color: black;
    border: solid 1px #ccc;
}

textarea{
    height: 10%;
    width: 100%;
}

#demandes_magasin_facture {
    padding-bottom: 45px
}


.code_postal {
    padding-top: 40px
}


 .les_infos {
    position: relative;
    padding-top : 30px;
    padding-bottom: 40px;
    background-color: transparent;
}

.les_infos > section {
    margin-left:40px
}

.les_infos h3 {
    margin: 30px 40px 15px 40px;
}

.marque_2,.reference_2, .numero_commande_2, .commentaires_2, .prix_article_2 {
    display:flex
}

.label_2 {
    margin-right: 6px
}

.question_2 .btn  {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border:none;
    font-family: 'Georgia', sans-serif; 
}


/* Title inutiles */
.help-text {
    display:none;
}

#steps-uid-0-h-0.title, #steps-uid-0-h-1.title, #steps-uid-0-h-2.title {
    display:none
}

.actions{
    margin-top: 10%;
}

.actions ul{
    position: relative;
    
}

.actions ul li {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display:inline;
    list-style: none;
    text-align: center;

}

#menuprevious{   
    text-decoration: none;
    background-color: #fff;
    padding: 12px 20px;
    color: var(--orange_perso);
    border-radius: 24px;
    border-style: solid;
    border-width: 0.03em;
    border-color: var(--orange_perso);
    width: 125px;
    display: table-cell;
    overflow: hidden;
}

#menunext, #menufinish{
    text-decoration: none;
    background-color: var(--orange_perso);
    padding: 12px 20px;
    color: #fff;
    border-radius: 24px;
    width: 125px;
    display: table-cell;
    vertical-align: middle; 
    overflow: hidden;
}

/*page informations client - vos coordonnées*/
.steps ul .first.done a {
    background-color: #fff;
    padding: 15px;
    color: lightgrey;

}

.steps ul .current a {
    background-color: var(--bleu_perso);
    padding: 15px;
    color: #fff;
}

.steps ul .last.done a {
    background-color: #fff;
    padding: 15px;
    color: lightgrey;
    border: solid 1px #ccc;
}


.info_client {
    padding-top : 45px
}

/*Page Valider*/
.steps ul .done a {
    background-color: #fff;
    padding: 15px;
    color: lightgrey;
    border: solid 1px #ccc;
}

.steps ul .last.current a {
    background-color: var(--bleu_perso);
    padding: 15px;
    color: #fff;
    border: solid 1px #ccc;
}

#facture_jpg {
    padding : 45px 0 45px 40px;
}


.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px; display: inline-block; height: 100%; text-align: center;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*Formulaire : boutons bas de page
.actions ul li a {}*/



/**********PARTIE RESPONSIVE DESIGN***********/
            /***POUR MOBILE***/
@media screen and (max-width:767.98px){ 

    .form_elig, .les_infos{

        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .les_infos {
        display: table;
        color: var(--bleu_perso);
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        top: -65px;
    }

    .steps ul{
        display:block;
        width: 50%;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        box-sizing: content-box !important;

    }

    .steps ul li{
        display: none;
        width: fit-content;
    }

    .steps ul li.current  {
        display: block
    }

    .number{
        font-size: 11px;
    }

}


            /***POUR TABLETTE***/
@media (min-width: 768px) and (max-width:1024.98px){ 
    
    .form_elig, .les_infos{
        width: 610px
    }

    .les_infos {
        display: table;
        color: var(--bleu_perso);
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        top: -80px;
    }

    .steps ul{
        display: block;
        width: 50%;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        box-sizing: initial !important;
    }

    .steps ul li{
        display: none;
    }

    .steps ul li.current  {
        display: block
    }

}


            /***POUR GD ECRAN***/
@media screen and (min-width: 1025px){

    .form_elig, .les_infos{
        width: 720px
    }

    .les_infos {
        display: table;
        color: var(--bleu_perso);
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        top: -120px;
    }

    .number{
        display: none;
    }

 } 

