:root {
    --orange_perso: #ff3c00;
    --bleu_perso: #2800dc;
    --bleu-pale: #e1def9;
}

main {
    min-height: 550px !important;
}

.fel-wrapper{
    font-family: "Work Sans";
    width:100%;
    min-height: 550px;
}

.bloc_fel{
    position: relative;
    vertical-align: middle;
    padding: 0px 80px;
    opacity: 1;
}

.bloc_fel > div {
    padding-top: 3.5%;
    padding-bottom: 12.5%;
    color: var(--bleu_perso);
    text-align: center;
}

.bloc_fel div > h1{
    font-size: 42px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -1.5px;
    
}

.bloc_fel div > h2{
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: -0.63px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bloc_fel div > p{
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
}

.demande_button {
    float: right;
}

.compte_button, .demande_button{
    margin-top: 2%;
    width: 60%;
    max-width: 400px;
    max-height: 50px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.8px;
    text-decoration: none
}

.compte_button {
    border: 1.5px solid #ff3c00 ;
    float: left;
}
.button_group{
    margin-top: 40px;
}

.big_emoji {
    bottom:-300px;
    z-index: -1;
}


/* **************  POUR MOBILE  ********************* */
@media screen and (max-width:767.98px){
    main {
        min-height: 500px !important;
    }
    
    .fel-wrapper{
        min-height: 500px;
    }

    .bloc_fel{
        padding: 0px 30px;
    }
    .compte_button, .demande_button{
        font-size: 15px;
        width: 100%;
        letter-spacing: none;
        max-height: 60px;
    }

    .bloc_fel div > h1{
        font-size: 32px;
    }
    
    .bloc_fel div > h2{
        font-size: 25px;
    }
    
    .bloc_fel div > p{
        font-size: 18px;
    }

    .demande_button {
        float: none;
    }

    .compte_button {
        float: none;
    }

    .big_emoji {
        display:none
    }
}

/* **************  POUR TABLETTE  ********************* */
@media (min-width: 768px) and (max-width:1024.98px){ 
    main {
        min-height: 400px !important;
    }
    
    .fel-wrapper{
        min-height: 400px;
    }

    .compte_button, .demande_button{
        font-size: 18px;
        width: 100%;
        letter-spacing: none;
        max-height: 60px;
    }

    .big_emoji {
        display:none
    }
}

/* **************  POUR MOBILE  ********************* */
@media screen and (max-width:767.98px){
    .compte_button, .demande_button{
        font-size: 22px
    }
}

/* **************  POUR TABLETTE  ********************* */
@media (min-width: 768px) and (max-width:1024.98px){ 
    .compte_button, .demande_button{
        font-size: 18px
    }
}