            <div>
                <div class="filters">
                    <form>
                        Trier par :
                        <select name="nom" size="1">
                            <option>Date croissante
                            <option selected>Date décroissante
                        </select>
                    </form>
                </div>
                <table id="tab" class="table1" border="1">
                    <thead id="entete-tableau">
                        <tr>
								<td>Mes demandes</td>
								<td>Statut</td>
								<td>Montant</td>
							</tr>
                    </thead>
                    <tbody id="mes-demandes">

                    </tbody>
                </table>
                <div id="nav"></div>
            </div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').on('change', function() {
                all_demandes(this.value)
            });
        var table = document.getElementById("mes-demandes");

        var all_demandes = function (ordre){
            empty_section(table)
            if(ordre == "Date décroissante")
                url = "{{ path('client_demandes') }}";
            else if (ordre == "Date croissante")
                url = "{{ path('client_demandes_reverse') }}";
            $.ajax({
                dataType: "json",
                url: url,
                success: function (data, status){
                    var nb = data.length
                    $.each(data, function(i, demande){
                            var tr = document.createElement('TR');
                            var td1 = document.createElement('TD');
                            var td2 = document.createElement('TD');
                            var td3 = document.createElement('TD');
                            var remboursement = " - ";
                            var produit = "Achat sur internet";
                            if(demande.statut ==  "Remboursé"){
                                remboursement = demande.montantRemboursement + "€"
                            }
                            if(demande.referenceProduit !=  null){
                                produit = demande.referenceProduit
                            }
                            const date = new Date(demande.dateAchat.timestamp*1000)
                            td1.innerHTML = produit +"<br>"
                            var span1 = document.createElement('SPAN');
                            span1.innerHTML = "Dossier n°" + demande.numeroDossier + "<br>Acheté le" + date.toLocaleDateString()
                            span1.setAttribute('class', 'normal_font')
                            td1.append(span1)                        
                            td2.innerHTML = demande.statut                     
                            td3.innerHTML = remboursement   
                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            table.appendChild(tr)                    
                    });
                    test(nb, '#tab')               
                }
            });
        }
        
        function empty_section(tab){
            if(tab.children.length > 0){
                var i;
                while(tab.firstChild){
                tab.removeChild(tab.firstChild);
                }
            }
        }
        function test(nb, a){
            var nav;
            var select_all;
            //$(a).after('<div id="nav"></div>');
            document.getElementById('nav').innerHTML = "";
            nav = "#nav"

            var rowsShown = 5;
            var rowsTotal = nb;
            var numPages = rowsTotal/rowsShown;
            for(i = 0;i < numPages;i++) {
                var pageNum = i + 1;
                $(nav).append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
            }
            $(a + ' tbody tr').hide();
            $(a + ' tbody tr').slice(0, rowsShown).show();
            $(nav + ' a:first').addClass('active');
            $(nav + ' a').bind('click', function(){
                /*if(select_all.checked == true){
                select_all.checked = false
                toggle(false)      
                }*/
                $(nav + ' a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $(a + ' tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                css('display','table-row').animate({opacity:1}, 300);
            });          
        }
        window.onload = all_demandes("Date décroissante")
    });
</script>