        <div>
            <div class="recap">
                <table id="tab" class="table" border="1">
                    <thead>
                        <tr>                           
                            <th>Numéro de dossier</th>
                            <th>Date</th>
                            <th>Statut</th>
                            <th>Remboursement</th>
                        </tr>
                    </thead>
                    <tbody id="mes-demandes">

                    </tbody>
                </table>
                <div id="nav"></div>
            </div>
            <div class="boxed"><a href="{{ path('enseigne') }}">Déposer une nouvelle demande de remboursement</a></div>
        </div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
        var table = document.getElementById("mes-demandes");
        var all_demandes = function (){

            url = "{{ path('client_demandes') }}";
            $.ajax({
                dataType: "json",
                url: url,
                success: function (data, status){
                    var nb = data.length
                    $.each(data, function(i, demande){
                            var tr = document.createElement('TR');
                            var td1 = document.createElement('TD');
                            var td2 = document.createElement('TD');
                            var td3 = document.createElement('TD');
                            var td4 = document.createElement('TD');
                            var remboursement = " - ";
                            if(demande.statut ==  "Remboursé"){
                                remboursement = demande.montantRemboursement + "€"
                            }
                            td1.innerHTML = demande.numeroDossier
                            const date = new Date(demande.dateAchat.timestamp*1000)
                            td2.innerHTML =date.toLocaleDateString();                        
                            td3.innerHTML = demande.statut
                            td3.innerHTML += "<br> <a href='" + demande.facture + "' target='blank'>Voir facture</a>"
                            td4.innerHTML = remboursement    
                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);
                            table.appendChild(tr)                    
                    });
                    test(nb, '#tab')               
                }
            });
        }

        function test(nb, a){
            var nav;
            var select_all;
            //$(a).after('<div id="nav"></div>');
            document.getElementById('nav').innerHTML = "";
            nav = "#nav"

            var rowsShown = 6;
            var rowsTotal = nb;
            var numPages = rowsTotal/rowsShown;
            for(i = 0;i < numPages;i++) {
                var pageNum = i + 1;
                $(nav).append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
            }
            $(a + ' tbody tr').hide();
            $(a + ' tbody tr').slice(0, rowsShown).show();
            $(nav + ' a:first').addClass('active');
            $(nav + ' a').bind('click', function(){
                /*if(select_all.checked == true){
                select_all.checked = false
                toggle(false)      
                }*/
                $(nav + ' a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $(a + ' tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                css('display','table-row').animate({opacity:1}, 300);
            });          
        }
        window.onload = all_demandes()
    });
</script>