    
    {% if user.modeVersement is null %} 
        <div id="empty_mv">
            <h2>Vous n'avez pas encore de mode de versement...</h2>
            <p>Ajoutez-en un pour vous faire rembourser ! </p>

            <a id="add_mv" href="#" onClick="add(event, this)">
                <button class="btn add_first">Ajouter un nouveau mode de versement</button>
                <button class="btn add_second"><i class="fa fa-arrow-right" style="font-size:24px"></i></button>
            </a>
            
        </div>
    {% else %} 
		<div class="jumbotron">
            <h3>Super !</h3> 
            <p>Hedee vous a fait gagner </p> 
            <p class="euros">{{ controller_name }}€</p>  
            <p>Depuis votre inscription</p>                       
        </div>
        <div id="mv_location">
            <p>Mon mode de versement</p>
            <div class="media border p-3">
                <img src="{{user.photo}}" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <small>Compte bancaire</small>
                    <p>{{ user.modeVersement.proprietaire ~ ", IBAN *******"
                         ~  user.modeVersement.iban|slice(user.modeVersement.iban|length-3, user.modeVersement.iban|length) }}
                    </p>
                    <span><a href="#" onClick="add(event, this)">MODIFIER</a></span>     
                </div>
            </div>
        </div>
    {% endif %}
    <div id="mv_location"></div>
                        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            function add(e, link){
                e.preventDefault()
                $('#add_mv').hide()
                $('#empty_mv').hide()
                $.ajax({
                    type: 'get',
                    url: "{{path('mode_versement')}}",
                    success: function (data) {
                        $('#mv_location').html(data);         
                    }
                });                
            }
        </script>      
