{% extends 'base.html.twig' %}

{% block title %}Espace client{% endblock %}

{% block main %}
<main>
    <div class="container">
        <h1>Mon porte-monnaie</h1>
		{% include 'profil/index.html.twig' %}
		<div class="recap">
        </div>
    </div>
</main>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function() {
    }
</script>
{% endblock %}