
            <div class="menu_profil">
                <ul>
                    <li> <a href="{{ path('profil') }}" class="active">Mes demandes de remboursement</a> </li>
                    
                    {#<li> <a href="{{ path('parrainage') }}">Mes parrainages</a> </li>#}
                    <li> <a href="{{ path('info_client') }}">Mes informations</a> </li>
                    <li> <a href="{{ path('gains') }}">Mon porte-monnaie</a> </li>
                </ul>
            </div> <!-- fin class="menu" -->