<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Confirmation de la création de votre compte Rembourseo</title>
</head>
<body>
    <p>
        Bonjour {{dossier.client.prenom}}, <br>
        Malheureusement, votre remboursement n'est pasconfirmé <br>

        {# pour que le lien fonctionne, il est indispensable que le lien soit absolu. #}
        <a href="{{absolute_url(path('info_client'))}}">Accéder à mon compte</a>
    </p>
</body>
</html>