{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/style_apropos.css')}}">
{% endblock %}

{% block main %}

<div class="example-wrapper">
        <div class="bloc_header_pre">
            <div class="accueil_pourquoi"><a href="{{path('accueil')}}">Accueil</a> > Pourquoi hedee ?</div>
        </div>

        <div class="bloc1">

        </div> <!-- fin class="bloc1" -->

        <div class="bloc2">

        </div> <!-- fin class="bloc2" -->

        <div class="bloc3">

        </div> <!-- fin class="bloc3" -->

        <div class="bloc4">

        </div> <!-- fin class="bloc4" -->

        <div class="bloc5">
            <div class="bloc5bis">

            </div>
        </div> <!-- fin class="bloc5" -->

        <div class="bloc6">
            {# {% include 'footer.html.twig' %} #}
        </div> <!-- fin class="bloc6" -->

</div>
{% endblock %}