{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/style_apropos.css')}}">
{% endblock %}

{% block main %}



        <div class="bloc1">
            <p> <a href="#">Accueil</a> > <a href="#">Pourquoi hedee ?</a> </p>
        </div> <!-- fin class="bloc1" -->

        <div class="bloc1bis">
            <div class="title1">
                <h2>Pourquoi hedee ?</h2>
                <p>le consommateur au coeur de notre mission</p>
            </div>

            <div class="title2">
                <h1 class="garantie_prix_bas">Connaissez-vous la garantie "prix le plus bas" ?</h1>
            </div>

        </div> <!-- fin class="bloc1bis" -->

        <div class="bloc2">
            <div class="title3">
                <h1>Comme la plupart des personnes, vous ne la connaissez certainement pas, ou bien vous ne vous y êtes pas intéressé !</h1>
               
            </div>
        </div> <!-- fin class="bloc2" -->

        <div class="bloc3">
            <div class="title3">
                <h1>Et pourtant, cela vous permettrait de faire tant d'économie...</h1>
            </div>
        </div> <!-- fin class="bloc3" -->

        <div class="bloc4">
            <div class="title3">
                <h1>Ce n'est pas de votre faute, puisque cette information ne vous est pas communiqué !</h1>
            </div>
        </div> <!-- fin class="bloc4" -->

        <div class="bloc4bis">
            <div class="title4">
                <h2>Alors, qu'est-ce que la garantie au prix le plus bas ?</h2>
                <h1>Si vous trouvez le produit que vous avez acheté moins cher ailleurs, 
vous avez le droit de vous faire rembourser la différence ! </h1>
            </div>
        </div> <!-- fin class="bloc4bis" -->

        <div class="bloc5">
                <div class="encart_title_pourquoi text-center ">
                    <h3>Parti de ce constat, hedee a souhaité vous</h3>
                    <h3>venir en aide et s’adresse à vous :</h3>
                </div>
                
                <div class="encart_1_pourquoi text-center ">
                    <p>Les consommateurs qui en ont assez de payer trop cher…</p>
                </div>

                <div class="encart_2_pourquoi text-center ">
                    <p>Les consommateurs qui veulent faire valoir leurs droits.</p>
                </div>

                <div class="encart_3_pourquoi text-center ">
                    <p>Les consommateurs qui veulent payer leurs achats au prix le plus juste !</p>
                </div>
        </div> <!-- fin class="bloc5" -->


        {#<div class="bloc6">
            <div class="encart_1_acteur text-center ">
                    <p>Hedee est malin, généreux et persévérant, mais il a surtout besoin de</p>
                    <p>votre aide pour vous garantir à tous le prix le plus bas.</p>
                </div>
                
                <div class="encart_title_acteur text-center ">
                    <h3>Vous, cher consommateur, êtes l’acteur de</h3>
                    <h3>votre remboursement !</h3>
                </div>

                <div class="encart_2_acteur text-center ">
                    <p>En confiant vos demandes de remboursement à Hedee, vous</p>
                    <p>contribuez par la même occasion à trouver le prix le plus bas pour</p>
                    <p>tous les consommateurs.</p>
                </div>

                <div class="encart_3_acteur text-center ">
                    <img src="../https//via.placeholder.com/1160x489">
                </div>
        </div> <!-- fin class="bloc6" -->#}


{% endblock %}