{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block main %}

<div class="example-wrapper">

    <h1>Conditions générales de vente</h1>


</div>
{% endblock %}