{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block stylesheets %} 
    {{ parent() }}
    
{% endblock %}

{% block main %}

<h3>Données personnelles</h3>
{% endblock %}