{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block stylesheets %} 
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{asset('css/donnees.css')}}">
{% endblock %}

{% block main %}
<div class="container-fluid donnees">
        <div class="row">
            <div class="bloc1">
                <h1>Données personnelles</h1>
            </div><!--fin class="bloc1"-->

            <div class="bloc2">
                <div class="section">
                    <h2>Charte de confidentialité</h2>
                    <p>Nous considérons la confidentialité des données comme l’un des éléments fondamentaux des relations d’affaires. Notre charte de confidentialité et nos pratiques en la matière se concentrent sur un traitement des données personnelles qui soit approprié et en accord avec la législation en vigueur, tout en assurant confidentialité, intégrité et disponibilité.</p>
                    <p>La présente charte de confidentialité s’applique au site www.hedee.co , détenu et géré par la société COMING BACK, sise à Paris. </p>
                    <p>La présente charte de confidentialité définit l’ensemble de la politique de confidentialité en ligne applicable à nos activités. La charte de confidentialité énonce le type d’informations que nous collectons, la manière dont nous utilisons, partageons et sécurisons les informations que vous nous fournissez. Cela décrit également les choix en matière d’utilisation, d’accès et de correction de vos données personnelles.</p>
                    <p>Nous traitons les données personnelles à l’intérieur de l’Union européenne (UE). Notre activité est régie par le Règlement Général sur la Protection des Données (le « RGPD »). Il s’agit d’une loi directement contraignante. Le RGPD protège les libertés et droits fondamentaux des individus et en particulier leurs droits en matière de protection des données personnelles.
Il convient de considérer COMING BACK comme le gestionnaire des données, la société détermine les fins et les moyens du traitement des données personnelles.
</p>
                </div>
                
                <div class="section">
                    <h2>Définitions</h2>
                    <p>Dans la présente charte de confidentialité, les informations mentionnées ci-dessous auront la même signification que les informations présentes dans nos conditions générales, sauf disposition contraire des présentes.</p>
                </div>
                
                <div class="section">
                    <h2>Données personnelles</h2>
                    <p>Toute information pouvant être reliée à une personne physique identifiée ou identifiable. Les données personnelles incluent tout type d’information directement ou indirectement attribuable à une personne, tel que le nom, la date de naissance, l’adresse, l’adresse e-mail, le numéro de téléphone, etc.</p>
                </div>
                
                <div class="section">
                    <h2>Principes</h2>
                    <p>Notre charte de confidentialité se fonde sur les principes suivants de protection des données :</p>
                    <ul>
                        <li>le traitement des données personnelles aura lieu en toute conformité avec la loi et de façon claire et transparente ;</li>
                        <li>la collecte de données personnelles n’aura lieu qu’à des fins spécifiées, explicites et légitimes et les données ne seront pas traitées par la suite d’une façon qui ne soit pas compatible avec les présents principes ;</li>
                        <li>la collecte de données personnelles doit être appropriée, pertinente et limitée à ce qui est nécessaire en lien avec l’objectif du traitement des données ;</li>
                        <li>les données personnelles doivent être exactes et, si nécessaire, actualisées ;</li>
                        <li>toutes les mesures raisonnables doivent être prises pour garantir que les données se révélant inadaptées à l’objectif du traitement soient supprimées ou rectifiées sans délai ;</li>
                        <li>les données personnelles doivent être conservées pour l’identification de leur sujet, seulement tant que cela est nécessaire à l’objectif de leur traitement ;</li>
                        <li>toutes les données personnelles doivent rester confidentielles et être stockées de manière à garantir une sécurité appropriée ;</li>
                        <li>les données personnelles ne doivent pas être partagées avec des tiers, hormis lorsque cela est nécessaire afin que hedee.co  puisse fournir les prestations stipulées dans l’accord ;</li>
                        <li>vous avez le droit d’exiger la consultation, la rectification ou la suppression de vos données personnelles, ainsi que des restrictions de traitement, de vous opposer à leur traitement, ainsi que le droit à la transférabilité des données.</li>
                    </ul>
                </div>

                <div class="section">
                    <h2>Collecte et utilisation des données personnelles</h2>
                    <p>Si vous souhaitez bénéficier de nos services et nous communiquer des informations, vous devrez fournir des données personnelles afin que nous puissions gérer et améliorer nos activités et nos prestations. Les données personnelles peuvent ainsi être transférées via notre site Web, notre application mobile, par e-mail et par tout autre logiciel ou moyen de communication électronique, ainsi que par voie postale ou par téléphone. La collecte des données personnelles se fait conformément au RGPD. Nous ne traiterons les données personnelles que dans les limites requises à des fins spécifiées, explicites et légitimes ou à des fins imposées par la législation en vigueur dans les endroits où nous intervenons.</p>
                    <p>Nous collectons principalement des données telles que le nom, prénom, l’adresse, l’adresse e-mail et le numéro de téléphone pour demander en votre nom le remboursement de la différence de prix. Il s’agit de l’activité principale de l’entreprise COMING BACK.</p>
                    <p>Par ailleurs, nous collectons des données personnelles pour les statistiques la communication, l’informatique et la gestion de la sécurité.</p>
                    <br>
                    <p>Utilisation des données personnelles</p>
                    <p>Nous utiliserons les données personnelles dans l’objectif pour lequel elles ont été collectées et ne les conserverons que tant que cela est nécessaire à ces fins. Nous pouvons conserver vos informations tant que votre compte est actif ou dans la mesure où cela est nécessaire pour fournir notre prestation, remplir nos obligations légales ou à l’une des fins mentionnées ci-dessus. L’accès aux données personnelles est strictement restreint au personnel COMING BACK.</p>
                </div>

                <div class="section">
                    <h2>Utilisation des cookies</h2>
                    <p>Notre site Web utilise des cookies ou des technologies similaires afin de garantir la meilleure expérience utilisateur possible et d’analyser des tendances, administrer le site Web, suivre les mouvements des utilisateurs sur le site et rassembler des données démographiques concernant notre base d’utilisateurs dans son ensemble. Les cookies sont de petits fichiers texte enregistrés sur l’appareil de l’utilisateur afin de suivre ses habitudes d’utilisation et d’enregistrer ses préférences. Nos cookies ne contiennent pas d’informations permettant d’identifier des personnes. Nous rassemblons certaines informations automatiquement via l’utilisation des cookies et de technologies de suivi, comme l’adresse de protocole Internet (IP), le type de navigateur, le fournisseur d’accès à Internet, les pages de renvoi/de sortie, les fichiers consultés sur notre site (tels que des pages HTML, des illustrations), le système d’exploitation, la date et l’heure et/ou des données de parcours de navigation afin d’analyser les tendances globales et d’administrer le site. Vous pouvez contrôler l’utilisation des cookies au niveau de votre navigateur mais si vous choisissez de désactiver les cookies, cela pourrait limiter votre utilisation de certaines caractéristiques ou fonctionnalités de nos prestations ou de notre site Web.</p>
                    <p>Pour plus d’informations concernant notre utilisation des cookies, veuillez également lire notre Politique en matière de cookies.</p>
                </div>

                <div class="section">
                    <h2>Partage de données personnelles</h2>
                    <p>Nous ne partagerons les données personnelles avec des tiers que sur la base des conditions listées ci-dessous :</p>
                    <ul>
                        <li>si vous avez donné votre accord ;</li>
                        <li>si c’est en rapport direct avec la raison initiale pour laquelle les données personnelles ont été collectées ;</li>
                        <li>si c’est nécessaire pour la préparation, la négociation et l’exécution de l’accord qui nous lie ;</li>
                        <li>si la loi, l’administration ou un tribunal l’exige ;</li>
                        <li>si cela est exigé pour le dépôt ou la protection de plaintes ou dans le cadre de la défense d’une action en justice ;</li>
                        <li>si cela est exigé en réponse à une enquête judiciaire, y compris afin de se soumettre à la sécurité nationale et aux exigences légales;</li>
                        <li>si cela est nécessaire pour éviter tout abus ou activité illégale, tels qu’une attaque délibérée, afin de garantir la protection des données.</li>
                    </ul>
                </div>

                <div class="section">
                    <h2>Sécurité des traitements</h2>
                    <p>La sécurité de vos données personnelles est importante pour nous. Nous traitons les données personnelles de façon sécurisée, et appliquons et maintenons de manière appropriée et généralement acceptée les standards conformes des mesures techniques et organisationnelles afin de protéger les données personnelles contre toute destruction accidentelle ou illicite, perte accidentelle, modification ou divulgation ou accès non autorisé, notamment lorsque le traitement de ces données implique de les transmettre sur un réseau, ainsi que contre toute autre forme de traitement illicite. </p>
                </div>

                <div class="section">
                    <h2>Vos droits en matière de protection des données</h2>
                    <p>Vous pouvez à tout moment exiger la consultation, la rectification ou la suppression de vos données personnelles ou la limitation du traitement de ces données et vous avez le droit à la portabilité des données. Pour que nous puissions maintenir les données personnelles à jour, nous vous recommandons de nous informer en cas de changement ou d’inexactitudes. Afin de consulter et/ou modifier vos données personnelles, recevoir des informations concernant la période pendant laquelle nous les conservons ou pour toute autre question relative à l’accès à vos données personnelles ou si vous souhaitez savoir si nous possédons ou traitons vos données personnelles au nom d’un tiers, veuillez contacter la DPD, Bouyagui KOITA, à l’adresse e-mail suivante : bouyagui@hedee.co. Votre requête sera traitée dans un délai raisonnable.</p>
                </div>

                <div class="section">
                    <h2>E-mails de marketing et Préférences Publicitaires</h2>
                    <p>Si nous en avons reçu l’autorisation, nous pouvons envoyer des e-mails de marketing. Cette forme de consentement particulière doit être donnée librement, être sans équivoque et avoir fait l’objet d’une information spécifique. Ces exigences sont considérées remplies lorsque vous indiquez que vous souhaitez recevoir des e-mails de marketing (vous donnez activement votre accord).</p>
                    <p>Vous conservez le droit de vous opposer, gratuitement et sur simple demande, au traitement de vos données personnelles à des fins de marketing direct, sans avoir à vous justifier. Vous pouvez le faire en cliquant sur le lien « Se désabonner » figurant dans les e-mails que nous vous envoyons ou en nous contactant directement sur hello@hedee.co. En faisant cela, vos données personnelles ne seront plus utilisées à des fins publicitaires.</p>
                    <p>Les e-mails de marketing contiennent des informations qui, selon nous, pourraient vous intéresser, telles que les dernières actualités concernant nos produits et services.</p>
                </div>

                <div class="section">
                    <h2>Responsabilité</h2>
                    <p>La présente charte de confidentialité se trouve sous la responsabilité de notre équipe, chargée d’assurer la conformité. Notre DPD est garant de l’application de notre charte de confidentialité et s’en assure au quotidien. Il est également impliquée dans toute situation en rapport avec la protection des données personnelles.</p>
                    <p>Nous sommes garants du respect du RGPD ainsi que des principes énoncés dans la présente charte de confidentialité et serons à tout moment en mesure de le prouver. Nous conserverons les relevés des activités de traitement ayant eu lieu sous notre responsabilité et ces relevés devront comporter les informations requises par le RGPD. Le cas échéant et sur demande, nous mettrons les relevés à disposition de l’autorité de contrôle.</p>
                    <p>Toute requête concernant la présente charte est à adresser à la DPD, Bouyagui KOITA, à l’adresse e-mail suivante :  bouyagui@hedee.co</p>
                </div>

                <div class="section">
                    <h2>Réclamations</h2>
                    <p>Vous êtes en droit de formuler une réclamation relative à notre traitement de vos données personnelles. Toutes les requêtes et les réclamations seront traitées dans un délai raisonnable par la DPD et dans le respect des procédures internes.</p>
                    <p>Les réclamations peuvent être adressées à la DPD, Bouyagui KOITA, à l’adresse e-mail suivante :  bouyagui@hedee.co</p>
                </div>

                <div class="section">
                    <h2>Modifications de la présente charte</h2>
                    <p>La présente charte de confidentialité peut faire l’objet de mises à jour ponctuelles, notamment en raison de modifications des législations afférentes ou de la structure de notre groupe. En cas de changements majeurs, vous en serez informé par e-mail ou sur le site Web avant leur entrée en vigueur. Nous vous recommandons de consulter régulièrement la présente page pour connaître les dernières informations concernant nos pratiques en matière de confidentialité.</p>
                </div>

                <div class="section contact">
                    <h2>Contact</h2>
                    <p>COMING BACK</p>
                    <p>27 rue du chemin vert </p>
                    <p>75011 Paris</p>
                    <p>Adresse e-mail : hello@hedee.co </p>
                    <br>
                    <p>Date de prise d’effet : 12 septembre 2019</p>
                </div>
            </div><!--fin class="bloc2"-->

        </div><!--fin class="row"-->
    </div><!--fin class="container-fluid""-->

{% endblock %}