{% extends 'base.html.twig' %}

{% block title %}F.A.Q. : Foire aux questions{% endblock %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/style_faq.css')}}">
{% endblock %}

{% block main %}

<div class="example-wrapper">

        <div class="bloc_header_pre">
            <div class="accueil_pourquoi"><p><a href="{{path('accueil')}}">Accueil</a> > Vos questions ?</div>
        </div>

        <div class="bloc_header">
            <h1 class="header_title">Vos questions les plus fréquentes</h1>
        </div>
        
        <div class="bloc1">
            <section class="questions">
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question1">
                        1- Qui est hedee ? <span>+</span>
                    </button>
                    <div id="question1" class="collapse">
                        <div class="card card-body">
                            <p>Hedee est votre assistant personnel qui vous permet de récupérer automatiquement de l’argent sur vos achats en cas de baisse de prix.</p>
                            <p>Son objectif est de vous permettre d’acheter où et quand vous voulez en toute confiance !</p>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question2">
                        2- Comment ça marche ? <span>+</span>
                    </button>
                    <div id="question2" class="collapse">
                        <div class="card card-body">
                            <p>Hedee trouve le prix le plus bas sur les produits que vous avez achetés en magasin ou sur internet et vous récupère la différence.</p>
                            <p>Gagnez de l’argent en 3 étapes :</p>
                            <p>- Tester votre éligibilité en moins d’une minute en cliquant sur « je récupère mon argent »</p>
                            <p>- Hedee cherche pour vous le prix le plus bas et vous alerte dès qu’il a trouvé moins cher.</p>
                            <p>- Hedee effectue la demande de remboursement à votre place.</p>
                        </div>
                    </div>
                    
                </div>
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question3">
                        3- Pourquoi confier ma demande de remboursement à hedee ? <span>+</span>
                    </button>
                    <div id="question3" class="collapse">
                        <div class="card card-body">
                            <p>Hedee vérifie automatiquement les prix sur de votre produit en temps réel.</p>
                            <p>Si hedee trouve moins cher, il vous alertera et procèdera à la demande de remboursement à votre place !</p>
                            <p>Vous n’avez rien à faire, hedee s’occupe de tout !</p>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question4">
                        4- Pourquoi je ne suis pas éligible à un remboursement ? <span>+</span>
                    </button>
                    <div id="question4" class="collapse">
                        <div class="card card-body">
                            <p>Vous n’êtes pas éligible car :</p>
                            <p>- votre achat ne respecte pas les conditions requises par hedee (délai d’achat dépassé, prix d’achat trop bas, enseignes non éligible…).</p>
                            <p>- Hedee n’a pas trouvé moins cher car votre produit a été acheté au meilleur prix. Félicitations !</p>
                            <p>- L’enseigne n’est pas favorable à votre demande de remboursement. Nous ferons prochainement un classement des meilleurs enseignes qui remboursent la différence.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question5">
                        5- Comment vais-je recevoir mon remboursement ? <span>+</span>
                    </button>
                    <div id="question5" class="collapse">
                        <div class="card card-body">
                            <p>La plupart des enseignes remboursent la différence par le même mode de paiement que celui de votre achat.</p>
                            <p>Mais certaines enseignes comme Darty vous propose le remboursement par carte cadeau valable dans leurs enseignes .</p>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question3">
                        6- Quand est-ce que je serai remboursé ? <span>+</span>
                    </button>
                    <div id="question3" class="collapse">
                        <div class="card card-body">
                            <p>Le remboursement peut varier entre 2 à 10 semaines après réception de votre demande par l’enseigne.</p>
                            <p>N’oubliez pas de renseigner vos coordonnées bancaires sur votre espace personnel pour percevoir votre argent.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question3">
                        7- Combien cela me coûte-il ? <span>+</span>
                    </button>
                    <div id="question3" class="collapse">
                        <div class="card card-body">
                            <p>Vous payez que lorsque vous gagnez de l’argent !</p>
                            <p>Hedee se rémunère d’une commission de 25% sur votre remboursement;</p>
                            <p>Exemple: 100 euros de différence de prix = 75€ pour vous et 25 euros pour hedee.</p>
                            <p>C’est du gagnant-gagnant !</p>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question3">
                        8- Comment hedee prélève sa commission ? <span>+</span>
                    </button>
                    <div id="question3" class="collapse">
                        <div class="card card-body">
                            <p>Une fois que vous percevez votre remboursement alors hedee prélèvera sa commission de 25% directement sur votre compte.</p>
                        </div>
                    </div>
                </div>
            </section> <!-- fin class="questions" -->
        </div> <!-- fin class="bloc1" -->


</div>
{% endblock %}