{% extends 'base.html.twig' %}

{% block title %}F.A.Q. : Foire aux questions{% endblock %}

{% block main %}

<div class="example-wrapper">

    <h1>F.A.Q. : Foire aux questions</h1>

</div>
{% endblock %}