{% extends 'base.html.twig' %}

{% block title %}F.A.Q. : Foire aux questions{% endblock %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/style_faq.css')}}">
{% endblock %}

{% block main %}

<div class="example-wrapper">

        <div class="bloc_header"></div>
        
        <div class="bloc1">

        </div> <!-- fin class="bloc1" -->

        <div class="bloc2">

        </div> <!-- fin class="bloc2" -->

</div>
{% endblock %}