{% extends 'base.html.twig' %}

{% block title %}F.A.Q. : Foire aux questions{% endblock %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/style_faq.css')}}">
{% endblock %}

{% block main %}

<div class="example-wrapper">

        <div class="bloc_header_pre">
            <div class="accueil_pourquoi"><a href="{{path('accueil')}}">Accueil</a> > Vos questions ?</div>
        </div>

        <div class="bloc_header">
            <h1 class="header_title">Vos questions les plus fréquentes</h1>
        </div>
        
        <div class="bloc1">
            <section class="questions">
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question1">
                        Comment ça marche ? <span>+</span>
                    </button>
                    <div id="question1" class="collapse">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question2">
                        Pourquoi je ne suis pas éligible ? <span>+</span>
                    </button>
                    <div id="question2" class="collapse">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question3">
                        Comment vais-recevoir mon remboursement ? <span>+</span>
                    </button>
                    <div id="question3" class="collapse">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question4">
                        Quand est-ce que je serai remboursé ? <span>+</span>
                    </button>
                    <div id="question4" class="collapse">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default question" data-toggle="collapse" data-target="#question5">
                        Combien cela me coûte-t-il ? <span>+</span>
                    </button>
                    <div id="question5" class="collapse">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </section> <!-- fin class="questions" -->
        </div> <!-- fin class="bloc1" -->

        <div class="bloc2">

        </div> <!-- fin class="bloc2" -->

</div>
{% endblock %}