{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/style_apropos.css')}}">
{% endblock %}

{% block main %}

<h1> Mentions légales </h1>


{% endblock %}