{% extends 'base.html.twig' %}

{% block head %} 
    
{% endblock %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/style_accueil.css')}}">
{% endblock %}

{% block title %}Rembourseo{% endblock %}

{% block main %}
        <div class="bloc1">
            <div class="la_presentation">
            
                <a href="{{ path('enseigne') }}">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Je récupère mon argent</button>
                        <button type="button" class="btn"><span class="glyphicon glyphicon-play"></span></button>
                    </div>
                </a>
            </div><!-- fin class="la_presentation" -->
        </div> <!-- fin class="bloc1" -->

        <div class="bloc2">

        </div> <!-- fin class="bloc2" -->


        <div class="bloc3">
            {#<div class="titre_pourquoi">

            </div> <!-- fin class="nous_vous" -->#}

        </div> <!-- fin class="bloc3" -->

        <div class="bloc4"> 

        </div> <!-- fin class="bloc4" -->

        <div class="bloc5">

        </div> <!-- fin class="bloc5" -->

        <div class="bloc6"> <!-- footer -->

            <div class="footer">
                {% include 'footer.html.twig' %}
            </div>
        </div> <!-- fin class="bloc6 alias footer" -->

{% endblock %} {#fin block main#}


{% block javascript %} 


{% endblock %} {#fin block javascript#}




