<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Confirmation de la création de votre compte Rembourseo</title>
</head>
<body>
    <p>
        Bienvenue chez Rembourseo, <br>
        Il vous reste encore quelques informations à compléter pour finaliser votre compte.
        Cliquez sur ce lien pour accéder à votre espace.
        {# pour que le lien fonctionne, il est indispensable que le lien soit absolu. #}
        <a href="{{absolute_url(path('info_client'))}}">Accéder à mon compte</a>
    </p>
</body>
</html>