{% extends 'base.html.twig' %}

{% block title %}Hello EnseigneController!{% endblock %}

{% block body %}


<div class="example-wrapper">

    <h1>Hello {{ controller_name }}! </h1>

    Les différentes catégories de produits pris en charge par Coming-Back sont: 
    <ul>
   {% for categorie in categories %}
   	<li>{{ categorie.nomCategorie}}</li>
   {% endfor %}
   </ul>
</div>
{% endblock %}
